<div class="comment relative" 
  data-controller="comment" 
  data-comment-expanded-value="true">

  <div class="meta">
    <%= comment.byline_linked %>
    <%= render partial: "shared/manage_comment", locals: { comment: comment } %>
  </div>

  <div class="body">
    <%= comment.sanitaized %>
  </div>

  <% if comment.files.any? && !comment.soft_deleted? && !comment.user.soft_deleted? %>    
    <div class="attachments flex flex-col space-y-3 my-1" >
      <div class="flex space-x-3 overflow-y-scroll ns">
        <% comment.files.select(&:image?).each do |file| %>
          <% if file.representable? %>
            <%= link_to rails_blob_path(file, disposition: "inline"), target: "_blank" do %>       
              <%= image_tag file, class: "object-scale-down h-24" %>
            <% end %>
          <% else %>
            <%= link_to rails_blob_path(file, disposition: "attachment"), target: "_blank", class: "flex items-center" do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13" />
              </svg> <%= file.blob.filename %>
            <% end %>            
          <% end %>
        <% end %>
      </div>

      <div class="flex flex-col space-y-1">
      <% comment.files.select{|f| !f.image? }.each do |file| %>          
        <%= link_to rails_blob_path(file, disposition: "attachment"), target: "_blank", class: "flex items-center" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13" />
          </svg> <%= file.blob.filename %>
        <% end %>            
      <% end %>
      </div>
    </div>
  <% end %>

  <div class="footer">
    <% unless comment.commentable.locked? %>
      <a href="#" class="" 
        data-comment-target="toggleFormBtn"       
        data-action="click->comment#toggleForm">reply</a>
    <% end %>

    <a class="expand-count" href="#" class=""   
      data-comment-target="expandRepliesBtn" 
      data-action="click->comment#expandReplies">expand</a>
  </div>

  <% unless comment.commentable.locked? %>
    <div class="reply-form-wrapper hidden" data-comment-target="formWrapper">
      <%= render "comments/reply_form", commentable: comment.commentable, parent: comment %>
    </div>
  <% end %>

  <svg data-comment-target="loader " class="animate-spin mx-auto my-3 h-5 w-5 text-primary hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
  </svg>    

  <div class="replies-wrapper" data-comment-target="repliesWrapper">
    <a class="toggler" data-action="click->comment#collapseReplies"></a>
    
    <div class="replies" data-comment-target="replies">
      <%= render partial: "comments/comment", collection: comment.replies %>
    </div>
  </div>
</div>
