<div class="form-wrapper relative panel" data-controller="boards-form" data-boards-form-target="wrapper">
  <%= form_with(model: board, class: "form my-1", local: false, 
  data: {
    type: "json",
    "boards-form-target": "form",
  action: "
    ajax:success->boards-form#onPostSuccess 
    ajax:error->boards-form#onPostError"
  }) do |f| %>
    <span class="flex mb-3 font-bold uppercase text-gray-500">Suggest a new board</span>
      <div class="field">
        <%= f.text_field :name, placeholder: "Music production" %>
        <%= error_tag(board, :name) %>
      </div>

      <div class="field">
        <%= f.text_field :slug, placeholder: "mus-prod" %>
        <%= error_tag(board, :slug) %>
      </div>

      <div class="field">
        <%= f.text_area :body, rows: 5, placeholder: "A board dedicated to the production of music." %>
        <%= error_tag(board, :body) %>
      </div>

      <%= f.submit "submit", class: "btn bg-primary" %>      
  <% end %>
</div>
