<div class="form-wrapper relative">
  <%= form_with(model: board, class: "form ") do |f| %>
    <span class="flex mb-3 font-bold uppercase text-gray-500">Suggest a new board</span>
    <div class="form-group">
      <div class="field">
        <%= f.text_field :name, placeholder: "Music" %>
      </div>

      <div class="field">
        <%= f.text_field :slug, placeholder: "mus" %>
      </div>

      <div class="field">
        <%= f.text_area :body, rows: 5, placeholder: "A board dedicated to music discussions" %>
      </div>

      <%= button_tag(type: "submit", class: "btn wide bg-red") do %>
      <svg class="-ml-1 mr-3 h-5 w-5 text-white hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
      Submit
      <% end %>
    </div>
  <% end %>
</div>