<div class="panel" data-controller="post-form" data-global-target="postFormWrapper" data-post-form-target="wrapper">
  <a href="#" title="Restore latest draft" data-post-form-target="indicator" data-action="click->post-form#restoreDraft" class="draft-indicator">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
    </svg>
  </a>
  <%= form_with(model: [post.board, post], class: "form ", local: false,
    data: { 
      type: "json",
      "global-target": "postForm", 
      "post-form-target": "form",
      "post-form-target": "form",
    action: "ajax:success->post-form#onPostSuccess 
             ajax:error->post-form#onPostError" }) do |f| %>

  <div class="field">
    <%= f.text_field :name, placeholder: "Title", 
      data: { 
        "post-form-target": "name", 
      action: "keyup->post-form#backUp" } %>
    <%= error_tag(post, :name, :title) %>
  </div>

  <div class="field">
    <%= f.text_field :url, placeholder: "Url (optional)", 
      data: { 
        "post-form-target": "url", 
      action: "keyup -> post-form#backUp" } %>
    <%= error_tag(post, :url) %>
  </div>

  <div class="field" data-controller="rich-text" data-action="restore-draft@window->rich-text#restoreDraft">
    <%= error_block(post, :body) do %>
    <div data-rich-text-target="wrapper">
      <div data-rich-text-target="editor"></div>
    </div>
    <% end %>

    <%= f.hidden_field :body, rows: 10, placeholder: "Text (optional)", maxlength: 40000,
      data: {  
        "post-form-target": "body", 
        "rich-text-target": "textArea",
      action: "input->post-form#backUp"} %> 
  </div>

  <%= button_tag(type: "submit", class: "btn wide bg-primary", data: { "post-form-target": "submitBtn" }) do %>
  <svg class="-ml-1 mr-3 h-5 w-5 text-white hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
  </svg>
  Submit
  <% end %>
  <% end %>
</div>