<% set_meta_tags(default_meta_tags.merge({
  title: @board.name,
  description: @board.body,
  keywords: @board.body.gsub(" ", ", "),
  canonical: request.original_url
})) %>

<div id="index" class="relative" data-controller="search" data-search-term-value="<%= params[:q] %>">
  <% if user_signed_in? %>
    <%= render partial: "posts/form", locals: { post: @post } %>
  <% end %>

  <div class="filters subnav">
    <ul class="subnav-item">
      <li><%= link_to "All", board_posts_path(@board.slug) %></li>      
      <li><%= link_to "Locked", filtered_board_posts_path(@board.slug, filter: :locked) %></li>

      <% if user_signed_in? && current_user.has_role?(:admin) %>
        <li><%= link_to "Hidden", filtered_board_posts_path(@board.slug, filter: :hidden) %></li>
        <li><%= link_to "Deleted", filtered_board_posts_path(@board.slug, filter: :deleted) %></li>   
      <% end %>
      <li><%= link_to "Search", "", data: { action: "click->search#toggleForm" } %></li>
    </ul>    
  </div>

  <div class="posts" 
    data-controller="infinite-scroll" data-action="scroll@window->infinite-scroll#scroll">
    <div data-infinite-scroll-target="posts">

      <div class="hidden" data-search-target="searchForm">
        <%= form_tag(search_board_posts_path(@board.slug), method: :get, class: "form flex space-x-3") do %>
          <div class="field flex-1">
            <%= text_field_tag :q, params[:q], placeholder: "Search #{@board.name}" %>
          </div>

          <%= button_tag("Search", type: "submit", name: nil, class: "btn bg-primary mb-3") %>
        <% end %>
      </div>

      <% if @posts.any? %>
        <%= render @posts %>
      <% else %>
        <p class="text-primary-lighter text-center">There're no posts here yet</p>
      <% end %>
    </div>

    <div class="hidden" data-infinite-scroll-target="pagination">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>