<!DOCTYPE html>
<html>

<head>
  <title>Disqb</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">
    <div class="boards">
      
    </div>

    <div class="header">
      <a href="/" class="title"><span class="text-red-400">D</span>isqb</a>
      <span class="right">
        <%= render "layouts/actions" %>
      </span>
    </div>
    
    <div class="inner">
      <%= yield %>
    </div>
</body>

</html>