<!DOCTYPE html>
<html>

<head>  
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= display_meta_tags %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render "layouts/theme" %>
</head>

<body>
  <div class="container" data-controller="global">
    <%= render "layouts/nav" %>
    <%= render "layouts/boards_nav" %> 
    <div class="header relative">
      <a href="/" class="title flex space-x-0">
        <span class="text-primary">A</span>
        <span class="text-primary-light">A</span>
        <span class="text-primary-lighter">A</span>
        CK!
      </a>
      <div class="ack right">
        <svg xmlns="http://www.w3.org/2000/svg" data-global-target="duck" class=" h-14 text-primary-light" fill="currentColor" viewBox="0 0 512 512" xml:space="preserve"><path d="M501.422 113.75h-90.217c-.464-20.826-8.767-40.338-23.541-55.112-15.207-15.22-35.439-23.603-56.968-23.603-44.418 0-80.555 36.137-80.555 80.555v92.308H10.579C4.736 207.899 0 212.635 0 218.478c0 20.377 7.934 39.534 22.344 53.945 14.417 14.405 33.577 22.338 53.948 22.338h6.292c11.217 30.749 31.562 58.188 57.911 77.883 26.609 19.889 57.796 31.301 90.76 33.312v60.431c0 5.843 4.736 10.579 10.578 10.579h44.483c5.843 0 10.578-4.736 10.578-10.579s-4.736-10.578-10.578-10.578h-33.904v-49.864c41.27-2.526 79.721-19.794 109.214-49.286 32-32 49.623-74.547 49.623-119.803V190.965h34.106c36.748 0 66.645-29.892 66.645-66.634 0-5.845-4.736-10.581-10.578-10.581zM76.292 273.601v.001c-14.724 0-28.573-5.735-38.991-16.144-7.872-7.873-13.07-17.707-15.137-28.403H72.41v7.796c0 12.435 1.35 24.744 4.008 36.75h-.126zm313.801-55.125v18.376c0 39.605-15.422 76.839-43.426 104.843-28.003 28.003-65.233 43.426-104.832 43.426-65.285 0-122.18-41.833-141.576-104.103-4.44-14.226-6.692-29.086-6.692-44.165v-7.796h45.092c5.317 52.231 49.56 93.123 103.176 93.123 26.567 0 51.834-10.032 71.145-28.247 4.25-4.009 4.446-10.704.438-14.954-4.01-4.25-10.704-4.446-14.954-.438-15.371 14.497-35.481 22.48-56.629 22.48-41.937 0-76.671-31.429-81.88-71.966h100.762c5.842 0 10.578-4.736 10.578-10.578V115.59c0-32.752 26.645-59.398 59.398-59.398 15.875 0 30.792 6.179 42.006 17.403 11.215 11.216 17.392 26.13 17.392 41.996v102.885zm55.262-48.67H411.25v-34.898h78.351c-4.783 19.991-22.805 34.898-44.246 34.898z"/><path d="M347.06 106.028c-5.843 0-10.578 4.736-10.578 10.578v15.434c0 5.843 4.736 10.578 10.578 10.578s10.578-4.736 10.578-10.578v-15.434c0-5.842-4.736-10.578-10.578-10.578zM329.73 251.107c-5.211-2.64-11.577-.555-14.216 4.656a83.5 83.5 0 0 1-1.135 2.159c-2.794 5.132-.9 11.555 4.231 14.35a10.576 10.576 0 0 0 14.35-4.23c.489-.897.965-1.803 1.428-2.716 2.638-5.213.554-11.579-4.658-14.219z"/></svg>
      </div>
      <span class="right">
        <%= render "layouts/actions" %>
      </span>
    </div>

    <%= render "layouts/alerts" %>

    <div class="inner panel">      
      <%= yield %>
    </div>
</body>

</html>
